@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter",sans-serif
}

:root {
    --main_color: #f4a4b7;
    --p_color: #b89f9f;
    --bg_color: #fff4f2;
    --white_color: #ffffff;
    --black_color: #3b2f2f;
    --border_color: rgba(244, 164, 183, 0.3);
}

/* :root {
    --main_color: #3182ce;  
    --p_color: #718096;   
    --bg_color: #f8fafc;  
    --white_color: #ffffff;
    --black_color: #1a202c;
    --border_color: rgba(49, 130, 206, 0.3);
} */

body{
    background: #131313;
}

.container{
    width: 80%;
    max-width: 1500px;
    margin: auto;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    color: var(--white_color);
    font-family: "DM Sans", sans-serif;
}

span{
    color: var(--main_color);
}

p{
    color: var(--p_color);
}

section{
    padding: 80px 0;
}

section .top_section{
    text-align: center;
    margin-bottom: 100px;
}
 
section .top_section h2{
    text-transform: capitalize;
    font-size: 30px;
}

.bg-lines span{
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 1px;
    background: rgba(255, 255, 255, 0.06);
    -webkit-animation: left_right 18s infinite;
    animation: left_right 18s infinite;
}
/* 
 background-color: red;
 background: red url('img/bg.png') no-repeat center center / cover;
 هنا background 
 جمعت كل دول:
background-color: red;
background-image: url('img/bg.png');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
كل خصائص الخلفية مع بعض
*/

.bg-lines span:nth-child(1){
    left: 10%;
}
.bg-lines span:nth-child(2){
    left: 20%;
}
.bg-lines span:nth-child(3){
    left: 30%;
}
.bg-lines span:nth-child(4){
    left: 40%;
}
.bg-lines span:nth-child(1){
    left: 10%;
}
.bg-lines span:nth-child(5){
    left: 50%;
}
.bg-lines span:nth-child(6){
    left: 60%;
}
.bg-lines span:nth-child(7){
    left: 70%;
}
.bg-lines span:nth-child(8){
    left: 80%;
}
.bg-lines span:nth-child(9){
    left: 90%;
}

@keyframes left_right {
    0%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    50%{
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

/* colors */
.location, .experience{
    color: var(--p_color);
}

/* start the header */

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    transition: .3s;
    z-index: 999;
}

header.active{
    background: var(--black_color);
    border: 1px solid #56565697;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo img{
    width: 200px;
}

header nav .links{
    display: flex;
    gap: 40px;
}

header nav .links a{
    color: var(--white_color);
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s;
}

header nav .links a:hover{
    color: var(--main_color);
    scale: 1.1;
}

header nav .icons{
    display: flex;
    gap: 30px;
}

    header nav .icons a{
        color: var(--main_color);
        font-size: 28px;
        transition: 0.3s;
    }

header nav .icons a:hover{
    scale: 1.4;
}

/* start btns */

.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn,
.about .content .cv label{
    background: var(--main_color);
    padding: 14px 30px;
    border-radius: 10px;
    text-transform: capitalize;
    color: var(--black_color);
    transition: .3s;
    font-weight: 600;
}

.btn:hover,
.about .content .cv label:hover{
    scale: 1.1;
}

.btns .btn_no_bg{
    color: var(--white_color);
    text-decoration: underline;
    transition: 0.3s;
}

.btns .btn_no_bg:hover{
    color: var(--main_color);
}

/* end btns */

/* start home */

.home{
    padding-top: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .container .content{
    width: 50%;
}

.home .container .content h4{
    color: var(--p_color);
    font-size: 35px;
    margin-bottom: 15px;
}

.home .container .content h1{
    font-size: 70px;
}

.home .container .content h2{
    font-size: 60px;
    line-height: .9;
    font-weight: normal;
}

.home .container .content p{
    margin: 30px 0;
    font-size: 18px;
    width: 80%;
    line-height: 1.7;
}

.home .container .content .btns .btn{
    padding: 18px 50px;
    font-size: 20px;
}

.home .container .imgs{
    width: 40%;
    position: relative;
    overflow: hidden;
}

.home .container .imgs .my-img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    transition: .3s ease-in-out;
}

.home .container .imgs .my-img:hover{
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.home .container .imgs .img-bg{
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: -1;
} 

/* end home */

/* start about me */
.about .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black_color);
    border-radius: 5px;
    padding: 50px;
}

.about .container .content{
    width: 50%;
}

.about .container .content h5{
    font-size: 18px;
    text-transform: capitalize;
    color: var(--p_color);
    margin-bottom: 10px;
}

.about .container .content h2{
    font-size: 45px;
    margin: 7px 0 15px;
}

.about .container .content .intro_job{
    font-size: 30px;
    margin-bottom: 5px;
    color: var(--white_color);
}

.about .container .content .content_about{
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.about .content .cv input{
    opacity: 0;
}

.about .container .imgs{
    width: 35%;
}

.about .container .imgs img{
    height: 450px;
}

/* end section about */

/* start section skills */
.skills .boxes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills .boxes .box{
    width: 30%;
    border-radius: 10px;
    padding: 50px 20px 20px;
    transition: .3s ease-in-out;
    border: 1px solid var(--border_color);
    position: relative;
}

.skills .boxes .box .icon{
    font-size: 70px;
    color: var(--main_color);
    transition: .3s;
    margin-bottom: 30px;
    position: relative;
    left: 40%;
}

.skills .boxes .box:hover{
    border-color: var(--main_color);
}

.skills .boxes .box:hover .icon{
    scale: 1.3;
}

.skills .boxes .box h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.skills .container .boxes .box ul{
    /* display: flex;
    flex-wrap: wrap; */
    color: var(--white_color);
    margin: 30px 0;
}

.skills .container .boxes .box ul li{
    width: 100%;
    text-transform: capitalize;
    display: flex;
    font-size: 18px;
    gap: 10px;
    margin-bottom: 18px;
    color: var(--white_color);
}

.skills .container .boxes .box ul li i{
    font-size: 25px;
    color: var(--main_color);
}

/* .skills .container .boxes .box .btn{
    position: absolute;
    bottom: 25px !important;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
} */

/* end section skills */

/* start section projects */

.projects .project_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.projects .project_box img{
    width: 45%;
}

.projects .project_box .content{
    margin-left: 100px;
    width: calc(50% - 100px);
}

.projects .project_box .content h4{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.projects .project_box .content h3 a{
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--white_color);
    transition: .3s;   
}

.projects .project_box .content h3 a:hover{
    color: var(--main_color);
}

.projects .project_box .content p{
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 50px;
}

.projects .project_box .content .link{
    display: block;
    background: var(--main_color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--black_color);
    text-align: center;
    line-height: 50px;
    border: 1px solid var(--border_color);
    font-size: 20px;
    transition: .3s ease-in-out;
}

.projects .project_box .content .link:hover{
    scale: 1.2;
}

.projects .project_box.project_box_2{
    flex-direction: row-reverse;
}
/* end section projects */

/* start section contacts */
.contacts .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts .social_links{
    width: 30%;
}

.contacts .social_links h2{
    text-transform: capitalize;
    margin-bottom: 40px;
}

.contacts .social_links .links{
    display: flex;
    flex-direction: column;
}

.contacts .social_links .links a{
    margin-bottom: 25px;
    color: var(--white_color);
    font-size: 20px;
    position: relative;
    left: 0;
    transition: .3s;
}

.contacts .social_links .links a i{
    color: var(--bg_color);
    font-size: 16px;
    margin-right: 10px;
    background: var(--main_color);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}

.contacts .social_links .links a:hover{
    left: 15px;
}

.contacts form{
    width: 60%;
    text-align: center;
}

.contacts form .inputs_form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.contacts form .inputs_form input, 
.contacts form .inputs_form textarea{
    background: var(--bg_color);
    border-radius: 5px;
    border: 1px solid var(--border_color);
    padding: 20px;
    color: var(--white_color);
    outline: none;
    margin-bottom: 30px;
    transition: .3s;
}

.contacts form .inputs_form input::placeholder, 
.contacts form .inputs_form textarea::placeholder{
    text-transform: capitalize;

}

.contacts form .inputs_form input{
    width: 48%;
        color: #131313;

}

.contacts form .inputs_form textarea{
    width: 100%;
            color: #131313;

}

.contacts form .inputs_form input:focus, 
.contacts form .inputs_form textarea:focus{
    border-color: var(--main_color);
}

.contacts form .btn{
    font-size: 18px;
    padding: 15px 35px;
    transition: .3s;
    outline: none;
    cursor: pointer;
}

.contacts form .btn:hover{
    scale: 1.1;
}

/* added */

.close_menu,
header .container .links .logo,
.list_menu {
    display: none;
}

/* start responsive */
/* header */

@media (max-width:1250px){
    .container{
        width: 90%;
    }
}

@media (max-width:1140px){
    .home .container .content h4{
        font-size: 25px;
    }

    .home .container .content h1{
        font-size: 55px;
    }

    .home .container .content h2{
        font-size: 55px;
    }

    .home .container .content p{
        font-size: 16px;
        margin: 20px 0;
    }

    .home .container .content .btns .btn{
        font-size: 18px;
        padding: 16px 35px;
    }
}

@media (max-width:1000px){
    /* header */
    header .container .links{
        position: fixed;
        background: var(--black_color);
        width: 400px;
        flex-direction: column;
        top: 0;
        left: -400px;
        padding: 50px 0;
        text-align: center;
        border-right: 1px solid var(--border_color);
        height: 100%;
        transition: .3s ease-in-out;
    }

    header .container .links.active{
        left: 0;
    }

    header .container .links .close_menu{
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 28px;
    }

    header .container .links .logo{
        display: block;
    }

    .list_menu{
        display: block;
        font-size: 28px;
    }

    /* section */

    section{
        padding: 50px 0;
    }

    /* home */
    .home{
        height: auto;
    }

   .home .container{
        flex-direction: column;
    }

    .home .container .content{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
    }

    .home .container .content h4{
        font-size: 20px;
    }

    .home .container .content h1{
        font-size: 35px;
    }

    .home .container .content h2{
        font-size: 45px;
    }

    .home .container .content p{
        font-size: 16px;
        margin: 15px auto;
    }

    .home .container .content .btns{
        justify-content: center;
    }

    .home .container .content .btns .btn{
        font-size: 16px;
        padding: 16px 30px;
    }

    /* about me */

    .about .container{
        flex-direction: column;
    }

    .about .container .content{
        width: 100%;
        margin-bottom: 50px;
    }
    
    .about .container .content .intro_job{
        font-size: 25px;
    }

    .about .container .content h2{
        font-size: 35px;
    }

    .about .container .content .content_about{
        font-size: 18px;
    }

    .btn, .about .content .cv label{
        padding: 16px 20px;
    }

    .about .container .imgs{
        width: 45%;
    }

    /* skills */

    .skills .boxes .box{
        width: 70%;
        margin-bottom: 30px;
    }

    .skills .boxes .box i{
        font-size: 50px;
    }

    .skills .boxes .box .icon{
        left: 45%;
    }

    /* projects */

    .projects .project_box,
    .projects .project_box.project_box_2{
        margin-bottom: 70px;
    }

    .projects .project_box .content {
        margin-left: 50px;
        width: calc(50% - 50px);
    }

    .projects .project_box .content h4{
        font-size: 18px;
    }

    .projects .project_box .content h3 a{
        font-size: 20px;
    }

    .projects .project_box .content p{
        margin-bottom: 30px;
        margin-top: 15px;
    }

    .projects .project_box .content .link{
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    /* contacts */

    .contacts .container{
        flex-direction: column;
    }

    .contacts .social_links{
        width: 100%;
        margin-bottom: 20px;
    }

    .contacts .social_links .links{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .contacts .social_links .links a{
        font-size: 18px;
        margin-left: 15px;
    }

    .contacts .social_links .links a i{
        margin-right: 7px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .contacts form{
        width: 80%;
        margin: 0 auto;
    }
    .contacts form .inputs_form input,
    .contacts form .inputs_form textarea{
        padding: 15px;
        margin-bottom: 20px;
    }

    .contacts form .btn{
        padding: 15px 25px;
        font-size: 16px;
    }
}

@media (max-width:500px){
    section{
        padding-bottom: 30px;
    }

    section .top_section{
        margin-bottom: 50px;
    }

    section .top_section h2{
        font-size: 25px;
    }

    /* header */
    header .container .icons i{
        font-size: 20px;
    }
    
    header .container .icons{
        gap: 15px;
        align-items: center;
    }

    header .container .logo img{
        width: 150px;
    }

    header .container .links{
        width: 100%;
        left: -100%;
    }

    .list_menu{
        margin-left: 15px;
    }

    /* home */

    .home .container .content h1{
        font-size: 30px;
    }

    .home .container .content h2{
        font-size: 40px;
    }

    .home .container .content .btns .btn{
        font-size: 14px;
        padding: 14px 25px;
    }
    
    /* about me */
    
    .about .container .content .intro_job{
        font-size: 20px;
    }

    .about .container .content h2{
        font-size: 30px;
    }

    .about .container .content .content_about{
        font-size: 16px;
    }

    .btn, .about .content .cv label{
        padding: 14px 18px;
    }

    .about .container .imgs{
        width: 60%;
    }

    /* skills */

    .skills .boxes .box{
        width: 90%;
        margin-bottom: 40px;
    }
    
    /* projects */

    .projects,
    .contacts{
        padding-top: 20px;
    }

    .projects .project_box{
        margin-bottom: 50px;
    }

    .projects .project_box,
    .projects .project_box.project_box_2{
        flex-direction: column;
        align-items: center;
    }

    .projects .project_box img{
        width: 100%;
    }

    .projects .project_box .content {
        margin-left: 0;
        width: 100%;
        margin-top: 20px;
    }

    .projects .project_box .content h4{
        font-size: 18px;
    }

    .projects .project_box .content h3 a{
        font-size: 20px;
    }

    .projects .project_box .content p{
        margin-bottom: 30px;
        margin-top: 15px;
        font-size: 14px;
    }

    .projects .project_box .content .link{
        height: 45px;
        width: 45px;
        line-height: 45px;
        font-size: 17px;
    }
    
    /* contacts */

    .contacts .social_links .links{
        flex-direction: column;
    }

    .contacts .social_links .links a{
        font-size: 16px;
        width: 100%;
        margin-left: 0;
        margin-bottom: 18px;
    }

    .contacts .social_links .links a i{
        width: 33px;
        height: 33px;
        line-height: 33px;
    }

    .contacts form{
        width: 100%;
    }

    .contacts form .inputs_form input,
    .contacts form .inputs_form textarea{
        padding: 15px;
        width: 100%;
    }

    .contacts form .btn{
        padding: 12px 22px;
        font-size: 14px;
    }
}

/* loader */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.loader img{
    width: 20rem;
}

.loader.fade-out{
    top: 110%;
    opacity: 0;
}